.button {
  opacity: 0.6;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  border-radius: 5px;
  margin-bottom: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #222222;
  font-family: PT sans, sans-serif;
}
