.menu__section {
  left: -100%;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: left 0.6s ease-in-out;
  background-color: rgb(0, 0, 0, 0.9);
}

.menu__logo {
  top: 0;
  left: 0;
  z-index: 2;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  position: absolute;
}

.menu__logo.rotate-right {
  animation: rotate-right 0.5s;
}

.menu__logo.rotate-left {
  animation: rotate-left 0.5s;
}

.open {
  left: 0;
}

.menu__link {
  text-decoration: none;
}

.menu__text {
  color: white;
  font-size: 24px;
  align-items: center;
  margin-bottom: 2rem;
  line-height: 31.06px;
  letter-spacing: 0.1em;
  font-family: PT sans, sans-serif;
}

.menu__text:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.2);
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
