.alarmView__section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-size: 100%;
  flex-direction: column;
  background-color: #222222;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  justify-content: space-between;
  background-image: url(../../assets/alarmViewCircles.svg);
}

.alarmView__alarm-wrapper {
  margin-top: 10rem;
  text-align: center;
}

.alarmView__logo {
  width: 85px;
  height: 85px;
  margin-bottom: 1rem;
}

.alarmView__text {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  line-height: 46.58px;
  letter-spacing: 0.1em;
  font-family: PT sans, sans-serif;
}

.btn-white-text {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}
