.setTimer__section {
  height: 100vh;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
}

.setTimer__margin-bottom {
  margin-bottom: 10rem;
}

.setTimer__time-section {
  display: flex;
  padding: 0 3rem;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.setTimer__time-section__nmbr-text-wrapper {
  text-align: center;
}

.setTimer__time-section__time {
  font-size: 80px;
  letter-spacing: 0.1em;
  line-height: 103.52px;
  font-family: PT sans, sans-serif;
}

.setTimer__time-section__arrow {
  margin: 2.65rem;
}

.setTimer__time-section__time-text {
  opacity: 0.6;
  font-size: 16px;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  font-family: PT sans, sans-serif;
}

.setTimer__btn {
  display: flex;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 800;
  color: #222222;
  border-radius: 5px;
  margin-bottom: 3rem;
  line-height: 31.06px;
  letter-spacing: 0.1em;
  justify-content: center;
  text-transform: uppercase;
  border: 1.5px solid #222222;
  font-family: PT sans, sans-serif;
  background-color: rgb(255, 255, 255);
}

.setTimer__alert-message {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #ff0000c5;
  line-height: 20.7px;
  letter-spacing: 0.1em;
  justify-content: center;
  text-transform: uppercase;
  font-family: PT sans, sans-serif;
}

.alert-btn {
  display: flex;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 800;
  border-radius: 5px;
  color: #ff0000c5;
  margin-bottom: 3rem;
  line-height: 31.06px;
  letter-spacing: 0.1em;
  justify-content: center;
  text-transform: uppercase;
  border: 2.5px solid #ff0000c5;
  font-family: PT sans, sans-serif;
  background-color: rgb(255, 255, 255);
}
