.checkbox__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox {
  width: 24px;
  height: 24px;
}

input[type="checkbox"]:checked {
  accent-color: #000;
}

.label {
  font-size: 20px;
  font-weight: 400;
  padding-left: 1rem;
  letter-spacing: 2px;
  line-height: 25.88px;
  font-family: PT sans, sans-serif;
}
