.analogTimer__section {
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.analogTimer__heading {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 25.88px;
  font-family: PT sans, sans-serif;
}

.analogTimer__interval {
  /* margin-top: 1rem; */
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 25.88px;
  font-family: PT sans, sans-serif;
}
